<h1>All Members</h1>
<ul>
    <% for(member of members){ %> 
    <li>
        <%= member.first_name %> | <a href="/members/<%= member.id %> ">Show</a>
    </li>

    <% } %> 

   

    <a href="/members/new">Add Member</a> 


    <br>
    
    <a href="/groups">View Groups Available</a>
</ul>