<h1>Your Profile</h1>
<img style="border-radius: 100rem; width: 100px; height: 100px; object-fit: cover;" src="/<%= results.imagePath.split("\\")[1]  %> "   alt="">
<h2>Welcome <%= results.email.split("@")[0] %> </h2>