<h1>All Groups</h1>

<ul>
    <% for(res of results){ %> 
    <li><%= res.name %> <a href="/groups/<%= res.id %>">Show</a></li>
    <% } %> 

    <a href="/groups/new">Add New Group</a> || <a href="/members">Show Members</a>
</ul>